<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MicroProjetMVC</display-name>
  <resource-ref>
    <description>Data Source</description>
    <res-ref-name>jdbc/e_commerce</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>accueil</servlet-name>
    <jsp-file>/WEB-INF/views/accueil.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>clients</servlet-name>
    <jsp-file>/WEB-INF/views/admin/clients.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>fournisseurs</servlet-name>
    <jsp-file>/WEB-INF/views/admin/fournisseurs.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>categories</servlet-name>
    <jsp-file>/WEB-INF/views/admin/categories.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clients</servlet-name>
    <url-pattern>/Clients</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fournisseurs</servlet-name>
    <url-pattern>/Fournisseurs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/Categories</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/views/error/error-500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/error/error-404.jsp</location>
  </error-page>
  <filter>
    <filter-name>client-filtre</filter-name>
    <filter-class>controllers.filtres.clientFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>client-filtre</filter-name>
    <url-pattern>/Acheter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>client-filtre</filter-name>
    <url-pattern>/SupprimerDePanier</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>client-filtre</filter-name>
    <url-pattern>/Panier</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>client-filtre</filter-name>
    <url-pattern>/AjouterAPanier</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>admin-filtre</filter-name>
    <filter-class>controllers.filtres.adminFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>admin-filtre</filter-name>
    <url-pattern>/Clients</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>admin-filtre</filter-name>
    <url-pattern>/Categories</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>admin-filtre</filter-name>
    <url-pattern>/Fournisseurs</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>fournisseur-filtre</filter-name>
    <filter-class>controllers.filtres.fournisseurFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>fournisseur-filtre</filter-name>
    <url-pattern>/SupprimerArticle</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>fournisseur-filtre</filter-name>
    <url-pattern>/Ajouter-Article</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>utilisateur-filtre</filter-name>
    <filter-class>controllers.filtres.utilisateurFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>utilisateur-filtre</filter-name>
    <url-pattern>/Articles</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>utilisateur-filtre</filter-name>
    <url-pattern>/Deconnexion</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>publique-filtre</filter-name>
    <filter-class>controllers.filtres.publiqueFiltre</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>publique-filtre</filter-name>
    <url-pattern>/Accueil</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>publique-filtre</filter-name>
    <url-pattern>/Inscrire</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>publique-filtre</filter-name>
    <url-pattern>/Connecter</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>admin-email</param-name>
    <param-value>admin@isil.este</param-value>
  </context-param>
  <context-param>
    <param-name>admin-mot-passe</param-name>
    <param-value>4321</param-value>
  </context-param>
</web-app>